html, body {
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
	
	height: 100%;
}

body, .container, .row {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0;
}

.instructions {
	/*background-color: #ccffcc;*/

	margin-top: 50px;

	/*height: 100px;*/
	width: 750px;
}